@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Tangerine");



body {
  color: white;
  background: #222222; 
  font-family: "Raleway", Arial, sans-serif;
}

  
blockquote {
  border-left: solid 0.5rem;
  font-style: italic;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 2rem; }


button {
  font: inherit; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  

  
table {
  border-collapse: collapse;
  border-spacing: 0; }

table th {background: #555;
    padding: 0 0.75rem 0.75rem 0.75rem;
}

table thead {background: #555;
    padding: 0 0.75rem 0.75rem 0.75rem;
	vertical-align: bottom;
}

table td {
    padding: 0.25rem 0.25rem; 
}



table tr:nth-child(even) {background: #444}
table tr:nth-child(odd) {background: #333}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.btnControl {
    background-color: black;
	border-radius: 8px;	
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 0px;
    cursor: pointer;
}

.btnAdd {
/*	float: left;	 /* creating group button */
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
	outline: none;	
    cursor: pointer;
}

.btnAdd:hover {
    background-color: #444;
    color: white;
}
.btnAdd:active {
  background-color: #888;
  box-shadow: 0 5px #666;
  transform: translateX(4px);
}
.btnAdd.active {
  background-color: #888;
}


</style>